<div class="container-mt-5">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="card">
                <div class="card-body text-center">
                    <h2>Tratamiento</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-10 offset-lg-1">
            <div class="card">
                <form [formGroup]="newTratamiento" appearance="fill">
                    <p></p>
                    <mat-form-field>
                        <mat-label>Paciente</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let paciente of listPaciente" [values]="paciente.ID_PAC">
                                {{paciente.NOM_PAC + ' ' + paciente.AP_PAT_PAC + ' ' + paciente.AP_MAT_PAC}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="newTratamiento.controls.idPac.hasError('required')">
                            <strong>El paciente de la consulta es requerido</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Medicamento</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let medicamento of listMedicina" [values]="medicamento.ID_MED">
                                {{medicamento.NOM_MED}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="newTratamiento.controls.idMed.hasError('required')">
                            <strong>El médico asignado es requerido</strong>
                        </mat-error>
                    </mat-form-field>
                    
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Indicaciones</mat-label>
                        <input matInput #indicaciones maxlength="30" 
                                placeholder="Indiciaciones"
                                formControlName="indicaciones">
                        <mat-hint align="end">{{indicaciones.value.length}} / 30</mat-hint>
                        <mat-error *ngIf="newTratamiento.controls.indicaciones.hasError('required')">
                            <strong>Indicaciones requeridas</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Frecuencia</mat-label>
                        <input matInput #frecuencia maxlength="30" 
                                placeholder="En lapsos de ..."
                                formControlName="frecuencia">
                        <mat-hint align="end">{{frecuencia.value.length}} / 30</mat-hint>
                        <mat-error *ngIf="newTratamiento.controls.frecuencia.hasError('required')">
                            <strong>Frecuencia del medicamento requerido</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Duración</mat-label>
                        <input matInput #duracion maxlength="30" 
                                placeholder="Durante"
                                formControlName="duracion">
                        <mat-hint align="end">{{duracion.value.length}} / 30</mat-hint>
                        <mat-error *ngIf="newTratamiento.controls.duracion.hasError('required')">
                            <strong>Frecuencia del medicamento requerido</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Notas adicionales</mat-label>
                        <input matInput #notas maxlength="30" 
                                placeholder="Notas adicionales"
                                formControlName="notas">
                        <mat-hint align="end">{{notas.value.length}} / 30</mat-hint>
                        <mat-error *ngIf="newTratamiento.controls.notas.hasError('required')">
                            <strong>Frecuencia del medicamento requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </form>
            </div>
        </div>
    </div>
</div>