<div class="container-mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <h1>Visita cualquiera de nuestras sucursales</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Ubicación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>nombre1</td>
                            <td>direccion1</td>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14944.584503132972!2d-97.4273204!3d20.54120125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85da6bdf906450d1%3A0x2b12c5b190307633!2sFarmacias%20del%20Ahorro%20Poza%20Rica%2020%20De%20Noviembre!5e0!3m2!1ses-419!2smx!4v1642050646121!5m2!1ses-419!2smx" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </tr>
                    </tbody>
                </div>
            </div>
        </div>
    </div>
</div>