<div class="container-mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <h1>ACTUALIZANDO DATOS DEL MÉDICO</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-8 offset-lg-2"> 
            <div class="card">
                <form [formGroup]="newMedic" appearance="fill">
                    <img class="foto1"src="assets/images-home/estetoscopio.png">
                    <p></p>
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre(s)</mat-label>
                        <input matInput placeholder="Nombre(s)"
                                formControlName="nombre">
                    </mat-form-field>
                    <mat-form-field appearance="fill" >
                        <mat-label>Apellido paterno</mat-label>
                        <input matInput placeholder="Apellido paterno"
                                formControlName="apePaterno">
                        <mat-error *ngIf="newMedic.controls.apePaterno.hasError('required')">
                            Apellido Paterno <strong>obligatorio</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Apellido materno</mat-label>
                        <input matInput placeholder="Apellido materno"
                                formControlName="apeMaterno">
                        <mat-error *ngIf="newMedic.controls.apeMaterno.hasError('required')">
                            Apellido materno <strong>obligatorio</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>CURP</mat-label>
                        <input matInput maxlength="18" 
                                #input [value]="input.value.toUpperCase()" 
                                placeholder="Apellido materno"
                                formControlName="medicurp">
                        <mat-error *ngIf="newMedic.controls.medicurp.hasError('required')">
                           El <strong>CURP</strong> es <strong>requerido</strong>
                        </mat-error> 
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                            <mat-label>Correo</mat-label>
                            <input matInput placeholder="example@gmail.com" type="email" formControlName="correo">
                            <mat-error *ngIf="newMedic.controls.correo.hasError('correo') && !newMedic.controls.correo.hasError('required')">
                                Por favor ingresa un correo valido
                            </mat-error>
                            <mat-error *ngIf="newMedic.controls.correo.hasError('required')">
                                El correo es <strong>requerido</strong>
                            </mat-error> 
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Cedúla</mat-label>
                        <input matInput maxlength="8" placeholder="XAXAXAXAXA" formControlName="cedula">
                        <mat-error *ngIf="newMedic.controls.cedula.hasError('cedula') && !newMedic.controls.cedula.hasError('required')">
                            Por favor ingresa un número de cedula valido
                        </mat-error>
                        <mat-error *ngIf="newMedic.controls.cedula.hasError('required')">
                            La cedúla es <strong>requerida</strong>
                        </mat-error> 
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Número</mat-label>
                        <input matInput placeholder="7821234567" formControlName="telefono" matInput maxlength="10">
                        <mat-error *ngIf="newMedic.controls.telefono.hasError('telefono') && !newMedic.controls.telefono.hasError('required')">
                            Por favor ingresa un número de teléfono válido
                        </mat-error>
                        <mat-error *ngIf="newMedic.controls.telefono.hasError('required')">
                            El numero de teléfono es <strong>requerido</strong>
                        </mat-error> 
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Número de recetas</mat-label>
                        <input matInput maxlength="3" type="number" min="0" max="300" formControlName="recetas">
                        <mat-error *ngIf="newMedic.controls.recetas.hasError('recetas') && !newMedic.controls.recetas.hasError('required')">
                            No puedes agregar numero negativos
                        </mat-error>
                        <mat-error *ngIf="newMedic.controls.recetas.hasError('required')">
                            El numero de teléfono es <strong>requerido</strong>
                        </mat-error> 
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Especialidad</mat-label>
                        <input matInput placeholder="Medico general"
                                formControlName="idEsp" type="number">
                        <mat-error *ngIf="newMedic.controls.idEsp.hasError('required')">
                           Especialidad <strong>obligatorio</strong>
                        </mat-error>
                    </mat-form-field>
                      
                    <div class="example-button-row" aling="center">
                        <button (click)="addMedico()" *ngIf="dep.Telefonomed" class="btn btn-primary">
                            Agregar
                        </button>
                        <button (click)="updateMedico()" *ngIf="dep.Recetas" class="btn btn-primary">
                            Actualizar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
