
<div class="container mt-5">
    <div class="row">
        
        <div class="col-lg-10 offset-lg-1">
            <div class="card">
                <div class="card-body text-center">
                    <h1>HISTORIAL DE CONSULTAS RECIENTES</h1>
                </div>
                <div fxLayout="row" fxLayoutAlign="end center">
                    <button (click)="addConsulta()"mat-raised-button color="primary">Nueva consulta</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="card">
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                          <th scope="col">Paciente</th>
                          <th scope="col">Sucursal de atención</th>
                          <th scope="col">Médico de atención</th>
                          <th scope="col">Última consulta</th>
                          <th scope="col">Motivo de consulta</th>
                          <th scope="col">Diagnostico</th>
                          <th scope="col">Acciones</th>
                        </tr>
                      </thead>
                    <tbody>
                        <tr *ngFor="let consulta of listConsultas">
                            <td>{{consulta.NOMBRE_PACIENTE}}</td>
                            <td>{{consulta.NOM_SUC}}</td>
                            <td>{{consulta.NOMBRE_DOCTOR}}</td>
                            <td>{{consulta.FECHA_CON | date: 'dd/MM/yyyy'}}</td>
                            <td>{{consulta.MOTIVO}}</td>
                            <td>{{consulta.DIAGNOSTICO}}</td>
                            <td>
                                <a data-backdrop="static" data-keybord="false"><mat-icon class="far text-info">edit</mat-icon></a>
                                <mat-icon class="far text-danger" (click)="clickDelete(consulta.ID_CON)">delete</mat-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
