<div class="container-mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <h1>AGREGUEMOS A UN NUEVO MÉDICO</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <form>
                    <p></p>
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre(s)</mat-label>
                        <input matInput placeholder="Nombre(s)">
                    </mat-form-field>
                    <mat-form-field appearance="fill" >
                        <mat-label>Apellido paterno</mat-label>
                        <input matInput placeholder="Apellido paterno">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Apellido materno</mat-label>
                        <input matInput placeholder="Apellido materno">
                    </mat-form-field>
                    
                </form>
            </div>
        </div>
    </div>
</div>
